*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgba(0, 0, 0, 0.534);
    margin-bottom: 10px ;
    padding:10px;
    position: sticky;   
    width:100%;
    top:0px;
    
    z-index:10;
   
}

header a{
    color:white;
    text-decoration: none;
    font-size: 2rem;
    /*los elementos en linea no tienen ni margin top ni bottom,
    no respetan ni ancho ni alto
    las medidas dependen de su contenido
    ej: etiquetas : a - span -label - br-input-textarea-select-etc..*/

    /*elementos en bloque son div-todos los h-ul-table-li-address-etc...
    fuerzan un salto de linea aunque su contenido no ocupe todo el ancho, tienen margin , alto y ancho por el usuario*/

    /*elementos inline-block se pueden aplicar las propiedades de un elemento en bloque y ademas se ubican en linea sin el salto de linea*/
    display: inline-block; 
    padding: 10px;
    margin:10px;
    background-color: rgba(0, 0, 0, 0.363);
   
   
}

.seccion__text{
    background-color: #909090;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.section__boxs{
    background-color: #dce46b;

}

.box__relative{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
   /* position: relative;
    top:200px;
    left:200px;*/
    
}

.box__absolute{
    width: 100px;
    height: 100px;
    background-color: rgb(116, 226, 43);
    position: absolute; 
    top:200px;
    left:200px; 

}

.box__fixed{   
    width: 200px;
    height: 50px;
    background-color: rgba(144, 228, 88, 0.692);
    
    position: fixed;
    top: 10px;
    right:10px;
    
}