.container{
    width: $ancho;
    @include miMixin2(500px,5px solid black,$bg-color-green);

    .container__boton{
        width: 30%;
        height: 1.5rem;
        background-color: aquamarine;
     }
     /*USO DE EXTEND*/
    /*al tener una clase principal, si tengo que cambiar algo del codigo de ahi, voy a esa clase 
    padre que tiene la mayoria de los atributos
    con extend, heredo esos atributos y puedo dar una particularidad a esa clase
    es como pensar que tengo una plantilla de un boton, y luego puedo hacer muchos botones que tenga
    algo agregado*/
    .container__boton--verde{
        @extend .container__boton;
        background-color: $bg-color-green;
        color:white;
        /*agregar animaciones*/

    }
    
}

div{
    @include flex-direction-center(row);
}

.box{
    @include flex-direction-center(row);
}

.contenedor-box{
    @include flex-direction-center(column);
}

.contenedor-grid{
    @include grid-columns-row(4,auto)
}
.contenedor-grid{
    @include grid-columns-row(1,3)
}

/*aca vemos como reutilizo el codigo y le paso otro valor a la propiedad*/
.container__header{
    width: 100%;

    @include miMixin2(100px,$borde-principal,rgb(66, 59, 59));
  
}


/*operadores
en este ejemplo usamos un valor en % y el resultado da en %

.col-12{
    width: ($ancho / 12) * 12;
    }
.col-6{
    width: ($ancho / 12) * 12;
    }
 */


/*utilizo un mixin que dentro tiene condicionales*/
.facebook{
    @include redes(facebook);
}

.instagram{
    @include redes(instagram);
}

.telegram{
    @include redes(telegram);
}


/*uso de mapas con get */
div {
  background-color: map-get($estilos, color);
  text-align: map-get($estilos, centro);
  padding: map-get($estilos, 1rem);
  font-size:map-get($estilos, tFuente);
}

div{    
    background-color: map-get($estilos, color);
}


.container__boton{
  @include miMixin2(100px,$borde);
   
}

.container__boton--verde{
   @include miMixin2(100px,$borde,$bg-color-green);

}
.main{
    @include contenedor_grid($primary-color,center,center);
}

.box{
    @include flex-row-center;
    @include mixinHeight;
}

.container{
    @include flex-row-center;
}

.footer{
    @include flex-row-center;
}

.box2{
	display:$flex;
	flex-direction:$row;
	justify-content:$center;
}


.div__empresa2{
    display:flex;
    @include alineacion-flex(center,center);
    background-color: rgb(179, 240, 179);
}

.div__empresa1{
    @extend .div__empresa2;
    @include alineacion-flex(center,right);
    background-color: rgb(180,180,180);
}

