/*este mixin es posible, pero no es la forma optima de usarlo, porque no le paso 
ningun modificador, entonces es recomendable en este caso usar extend*/

@mixin mixinHeight{
    height: 250px;
}



@mixin flex-row-center{
	display:flex;
	flex-direction:row;
	justify-content:center;
}



/*ahora este mixin recibe un valor, 
en programación es lo que se llama una funcion
yo defino una porcion de codigo y luego la llamo cuando la necesito
en este caso esta recibiendo una variable que solo existe localmente en esta funcion(no es una variable global)*/
@mixin miMixin2($valor,$borde-principal,$color:rgb(243, 86, 112)){
    height:$valor;
    /*puede tener mas variables que no reciben valor*/
    background-color: aqua;
    border:$borde-principal;
    color:$color;
}

@mixin redes($nombre){
    /*puedo poner un if dentro de una clase tambien */
    @if $nombre == instagram{
        color:#ff9100;
        /*sino sucede que nombre == instagram,*/
    }@else if $nombre == facebook{
        color:blue;
    }@else{ /*si no se cumple ninguna de las condiciones de arriba, entonces...*/
        color:black;
    }

}

