/* el archivo que empieza con _(no se compila) Variables */
$title-font:'Open Sans', sans-serif;
$tamano-font : 50px;
$cool-red: #F44336;
$box-shadow-bottom-only: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
$cien_porciento: 100%;
$color_azul : blue;
